<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' p='{{ page.path }}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% seo %}
  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{% if   page.path == "README.md" %}
          Manifesto for a chat that respects humans
          {% elsif page.path == "italian.md" %}
          Manifesto ideale di una chat che rispetti l'essere umano
          {% endif %}{{ site.description | default: site.github.project_tagline }}</h2>
        {% if   page.path == "README.md" %}
        <a style="background-image:url('it_button.png');padding-left: 85px;" href="italian" class="button">Italian <small>version</small></a>
        {% elsif page.path == "italian.md" %}
        <a style="background-image:url('en_button.png');padding-left: 85px;" href="/" class="button">English <small>version</small></a>
        {% endif %}
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="button">
              <small>Download</small>
              .zip file
            </a>
            <a href="{{ site.github.tar_url }}" class="button">
              <small>Download</small>
              .tar.gz file
            </a>
          {% endif %}

          <h2>More to read:</h2>
          <ul>
			<li>[EN] Brain Drain: The Mere Presence of One's Own Smartphone Reduces Available Cognitive Capacity - Adrian F. Ward et al, <a href="http://www.journals.uchicago.edu/doi/pdfplus/10.1086/691462">University of Chicago Press</a></li>
            
            <li>[IT] Il vero lusso è vivere disconnessi dalla rete - Evgeny Morozov, <a href="http://www.repubblica.it/tecnologia/2017/09/09/news/morozov_il_vero_lusso_vivere_disconnessi_dalla_rete_-175005909/">LaStampa</a></li>
            <li>[EN] <a href="http://www.getsiempo.com/">Siempo</a> project</li>
            <li>[EN] Have Smartphones Destroyed a Generation? - Jean Twenge, <a href="https://www.theatlantic.com/magazine/archive/2017/09/has-the-smartphone-destroyed-a-generation/534198/">TheAtlantic</a></li>
            <li>[EN] Yes, Smartphones Are Destroying a Generation, But Not of Kids - Alexandra Samuel, <a href="https://daily.jstor.org/yes-smartphones-are-destroying-a-generation-but-not-of-kids/">JSTOR daily</a></li>
            <li>[IT] Il vero potere è controllare la parola - Derrick de Kerckhove, <a href="http://www.vita.it/it/article/2015/02/25/il-vero-potere-e-controllare-la-parola-intervista-con-derrick-de-kerck/129613/">Vita</a></li>
            <li>[EN] Silicon Valley is not your friend - Noam Cohen, <a href="https://www.nytimes.com/interactive/2017/10/13/opinion/sunday/Silicon-Valley-Is-Not-Your-Friend.html">NYT</a></li>
            <li>[IT] Confucio nel computer - Furio Colombo, <a href="http://www.mediamente.rai.it/home/bibliote/intervis/c/colomb02.htm">MediaMente</a></li>
			<li>[IT] In chat a Palo Alto - <a href="http://www.danielepugliese.it/?p=5114">Daniele Pugliese</a></li>
			<li>[IT] Figli e tecnologia, togliete quei dannati smartphone dalle mani dei bambini - Erica Vecchione, <a href="http://www.ilfattoquotidiano.it/2016/10/01/figli-e-tecnologia-togliete-quei-dannati-smartphone-dalle-mani-dei-bambini/3057348/">FQ</a></li>
			<li>[IT] Tecnologia e relazioni 2.0 - Carlo Mazzucchelli, <a href="http://www.solotablet.it/lifestyle/tecnologia-e-relazioni-2.0">SoloTablet</a></li>
			<li>[IT] Scuola: perchè va detto basta alle chat tra genitori su Whatsapp - Simonetta Tassinari, <a href="http://www.illibraio.it/scuola-genitori-whatsapp-400259/">ilLibraio</a></li>
			<li>[IT] Io, un’aliena senza smartphone, vedo voi tutti così - Erica Vecchione, <a href="https://www.ilfattoquotidiano.it/2017/10/14/io-unaliena-senza-smartphone-vedo-voi-tutti-cosi/3909371/">FQ</a></li>
          </ul>
          <h2>About <i>AboutUs</i>:</h2>
          <ul>
			  <li>AboutUs, una chat diversa - <a href="http://www.solotablet.it/app/articoli/aboutus-una-chat-diversa">SoloTablet</a></li>
			  <li>AboutUs, la chat italiana contro la dipendenza da smartphone: “Vogliamo valorizzare i rapporti tra le persone” - <a href="http://www.illibraio.it/aboutus-chat-602078/">ilLibraio</a></li>
		  	  <li>Una chat per comunicare davvero - <a href="http://tessere.org/2017/10/24/chat-comunicare-davvero/">tessere.org</a></li>
          </ul>
        </aside>
      </div>
    </div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109143556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109143556-1');
</script>

  </body>
</html>
